@import "../utils.scss";
@include default_page_style();
@include include_font();

#spans {
    span {
        display: block;
        font-size: 200px;
        font-weight: bolder;
        font-family: $font-illustation-family;
        color: transparent;
        line-height: 10rem;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    }
}